@import './Variable-mixin.scss';

.featured-projects {
  @include color-theme($primary-color, $text);
  @include text-box;
  
  h3 {
    @extend %accent-textbox
  }
}

.featured-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .hidden-mobile {
    display: none;
    height: 0px;
    overflow: hidden;  

    @media (min-width: 668px) {
      height: auto;
      width: auto;
      display: inherit;
    }
  }

  .featured-project-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 15px;

    @media (min-width: 668px) {
      width: 40%;
    }

    p {
      margin-top: 25px;
      color: $text-accent;
      font-weight: bold;
    }
  
    .image { 
      box-shadow: 2px 2px 8px #8888887a;
      width: 100%;
      margin-top: 40px;
    }

    a:hover .image {
      transform: scale(1.04);
      transition: transform linear 1s;
    }

  }
}




