footer {
  @include text-box;
  color: white;
  background-color: #072BCE;

  p {
    margin: 5px;
   }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}