@import './Variable-mixin.scss';

.for-more {
  @include color-theme(white, $accent-color);
  @include text-box;
  
  h3 {
    @extend %accent-textbox
  }
}

.social-media-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;

  @media (min-width: 1025px) { 
    margin-top: 60px;
    width: 90%;
  }

  .social-media-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 165px;

    .social-media-item:hover {
        background-color: rgb(245, 174, 148);
    }
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0;
  }

  .big {
    border: solid 3px $accent-color;
    padding: 16px;
    height: 60px;
    width: 60px;

    @media (min-width: 1025px) { 
      height: 70px;
      width: 70px;
    }

      img {
        width: 30px;
      }
    }
}


