header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #65698B;
  height: 508px;
  width: 100%;
  padding: 35px;

  @media (min-width: 1025px) { 
    padding: 35px 100px;
  }
  
  h1 {
    font-size: 45px;
    margin: 0;

    @media (min-width: 668px) {
      font-size: 60px;
    }
  }

  h2 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;

    @media (min-width: 668px) {
      font-size: 40px;
    }
  }

  p {
    margin-top: 30px;
  }

  .text {
    color: white;
    margin-bottom: 10px;
  }

  .social-media-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .social-media-item-container:hover {
      opacity: 0.6;
    }
  
    .small {
      border: 2px solid white;
      margin-right: 5px;
      height: 45px;
      width: 45px;

      @media (min-width: 668px) { 
        margin-right: 15px;
        height: 60px;
        width: 60px;
      }
        
      img {
        width: 20px;
        height: 20px;

        @media (min-width: 668px) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  
  .profile-image {
    position: absolute;
    top: 380px;
    height: 160px;
    width: 160px;
    border: white solid 3px;
    border-radius: 50%;
    align-self: flex-end;

    @media (min-width: 668px) {
      top: 355px;
      height: 190px;
      width: 190px;
    }

    @media (min-width: 1281px) { 
      top: 310px;
      height: 250px;
      width: 250px;
    }
  }
}

