@import './Header.scss';
@import './AboutMe.scss';
@import './Skills.scss';
@import './Footer.scss';
@import './Contact.scss';
@import './FeaturedProjects.scss';
@import './OtherProjects.scss';

/* styling text and color*/

h3 {
  font-size: 24px;
  margin: 10px;

  @media (min-width: 668px) {
    font-size: 30px;
  }

}

p {
  font-family: 'roboto';
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 25px;

  @media (min-width: 668px) {
    font-size: 19px;
  }

  @media (min-width: 1025px) { 
    font-size: 21px;
    line-height: 35px;
  }
}

a {
  text-decoration: none;
  color: unset;
  border: solid transparent 3px;

  :hover {
    text-decoration: underline solid rgb(236, 129, 90);
  }

  :focus {
    outline: none;
    border: solid #FA382F 3px;
  }
}

.colored-text {
  color: #EA1106;
}

.underline {
  border-bottom: 1px solid #EA1106;
}

.bold {
  font-weight: bold;
}

.not-bold {
  font-weight: normal;
}

/* styling images and social media */

.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
}

/* styling elements */

* {
  box-sizing: border-box;
}

body {
  font-family: 'monserrat';
  margin: 0;
}

.orange-box {
  display: inline-flex;
  background-color: #EA1106;
  color: white;
  width: fit-content;
  font-weight: bold;
  padding: 4px 5px;
}

.background {
  background-color: #f0f8ff85;
}

.text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  padding: 35px;

  @media (min-width: 668px) {
    padding: 60px 90px;
  }

  @media (min-width: 1025px) {
    padding: 120px 200px;
  }
}

.all-tags { 
  flex-wrap: wrap;
  font-size: 13px;
  display: inline-flex;
  width: fit-content;

  .tag { 
    background-color: #FDDFE7;
    font-size: 11px;
    margin-right: 7px;
    padding: 4px;
  }
}



