.other-projects {
  @include color-theme(white, $text);
  @include text-box;
  margin-top: 25px;
  width: 100%;

  @media (min-width: 1025px) { 
    margin-top: 70px;
  }

  h3 {
    @extend %accent-textbox
  }

  p {
    margin-top: 25px;
    color: $text-accent;
    font-weight: bold;
  }

  .other-project-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
  }
}

