@import './Variable-mixin.scss';

.skills-section {
  @include color-theme($primary-color, $text);
  @include text-box;
  
  h3 {
    @extend %accent-textbox
  }
}

.skills {
  font-family:'roboto';
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  
  .skill-list {
    line-height: 25px;
    text-align: center;
    width: 50%;
    
    @media (min-width: 668px) {
      width: 30%;
    }

    p {
      color: $text-accent;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      font-size: 18px;
      padding: 0;
    }
  }
}