$primary-color: #f0f8ff85;
$secondary-color: #072BCE;
$text: rgb(44, 44, 44);
$accent-color: #EA1106;


%accent-textbox {
  display: inline-flex;
  background-color: $accent-color;
  color: white;
  width: fit-content;
  font-weight: bold;
  padding: 4px 5px;
}

@mixin color-theme($background, $color) {
  background-color: $background;
  color: $color;
}

@mixin text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  padding: 35px;

  @media (min-width: 668px) {
    padding: 60px 90px;
  }

  @media (min-width: 1025px) {
    padding: 120px 200px;
  }
}